<div class="card mb-5">
      <div class="card-body">
            <h5 class="card-title">Welcome to TinyApp!</h5>
            <p class="card-text">Please log into your account or register for a new one to edit or delete your URLs.</p>
            <% if(user===undefined){ %>
                  <a href="/login" class="btn btn-primary">Login</a>
                  <a href="/register" class="btn btn-primary">Register</a>
                  <% } else { %>
                        <form method="POST" action="/logout">
                              <p class="card-text">Logged in as: <%=user.email %>!</p>
                              <button type="submit" class="btn btn-outline-dark" formmethod="POST"
                                    formaction="/logout">Logout</button>
                        </form>
                        <% } %>
      </div>
</div>