<div class="permissions-container">
      <div class="h3 mb-5">You are not logged in!</div>
      <div>To see your URLs please login to your account <a class="generic-link" href="/login"> here</a>.</div>
      <div>If you do not have an account, please register <a class="generic-link" href="/register"> here</a>.</div>
</div>
  