#loginLink,
#registerLink {
  text-decoration: none;
  color: #ffffff80;
}

#loginLink:hover,
#registerLink:hover {
  text-decoration: none;
  color: #ffffffbf;
}

.generic-link, .generic-link:hover {
  text-decoration: none;
}

.generic-link:hover {
  background-color: black;
  color: white;
}

#register-link-text {
  margin-top: 5px;
}